#menu-bar {
  width: 100%;
  height: 100vh;
}

.menu-bar-open {
  width: 100%;
}

.menu-bar-closed {
  width: 100%;
}

.menu-bar-spacing {
  margin-bottom: 5px;
  display: flex;
}

.logo-open {
  color: white;
  align-self: center;
}
